package base

templ Base(){
    <html >
        
        <head>
            <title>Exam</title>
            <link rel="stylesheet" href="css/main.css">

            
        </head>
        
        <body>
            <main>
                <h1>content top ^^ </h1>
              
                { children... }

                
                <p>content bottom __ </p>
            </main>
        </body>
    </html>

}

